target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

README_OLD.md
.openapi-generator/
conf/ds-image-environment.yaml
conf/ds-image-local.yaml
/deploy2Devel11.sh
