#
# This config contains environment-data: Servers, usernames, passwords etc.
# If will be automatically merged with the core config when accesses through the application config system.
#
# In the code repository, this file is called ds-image-environment.yaml.sample and should not contain real
# values, only the configuration structure. Due to the ".sample" extension, it will not be loaded by
# ServiceConfig.
#
# When applied to production, the file should be copied, adjusted and renamed to ds-image-environment.yaml
# The new file ds-image-environment.yaml should NOT be added to the code repository!
#

config:

  # Production machine setup
  imageservers:
    # Full request URL sample: http://example.com:1234/iipsrv/iipsrv.fcgi?FIF=/my_images/hello.tif&CVT=jpg
    iip: 'http://example.com:1234/iipsrv/iipsrv.fcgi'

    # Full request URL sample: http://example.com:1234/non-archival/Images/noerrealle_portraetter/nap_2654/full/!166,/0/native.jpg
    iiif: 'http://example.com:1234/'
